html, body {
font-family: helvetica, arial, sans-serif;
margin: 0;
padding: 0;
background:url("images/header_bg.jpg") repeat-x;
}

#wrapper {
width: 1024px;
height: 100%;
margin:0;
padding:0;
float: left;
}

#header {
height: 198px;
width: 100%;
}

.shutdown {
float: left;
border: 0;
margin-right: 10px;
margin-top: 10px;
}

.Welcome {
float: left;
border: 0;
margin-right: 10px;
margin-top: 16px;
font-family: Arial, serif, inherit;
font-size: 14px;
color: #929090;
}

.BigLogo {
background: url("images/image_logo.png");
width: 128px;
height: 128px;
position: relative;
float: left;
left: 30px;
top: 30px;
}

.logoWrapper {
    float: left;
    height: 124px;
    left: 40px;
    margin-top: 37px;
    position: relative;
    width: 300px;
}


.logo {
margin:20px 0 0 30px;
float: left;
}
.slogan {
font-size:16px;
color: #929090;
float: left;
margin-left: 33px;
margin-top: 0;
}

.RightSettingsWrapper {
float: right;
min-width: 156px;
}


#leftside {
width: 200px;
min-height: 515px;
float:left;
}

#contentWrapper {
background-color: #FFFFFF;
background-image: url("images/content_bg.jpg");
float: left;
background-repeat: repeat-y;
}

.menu_header {
width: 199px;
height: 42px;
color:#000000;
border-bottom:1px solid #CECECE;
float:left;
}

.menus {
margin-left:10px;
margin-top:;
margin-top:10px;
}
.menu_links {
width: 199px;
height: 42px;
color:#000000;
border-bottom:1px solid #CECECE;
border-right:1px solid #cecece;
float:left;
text-decoration: none;
background-color:#f9f9f9;
}

.menu_top {
color:#000000;
text-decoration: none;
}
a.menu_links:hover {background-color: white; text-decoration: none; border-right:0px}
a.menu_links:active {background-color: white; text-decoration: none;}
a.menu_links:link {background-color: white; text-decoration: none;}

#rightside {
float:left;
width: 824px;
}

.selectDest {
width: 150px;
height: 22px;
}

#Formulari {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 2px solid #CECECE;
    float: left;
    margin: 10px;
    width: 100%;
    padding:10px 0 10px 0;
}

.WraperForForm {
	float: left;
	text-align: left;
	margin-left:5%;
	margin-bottom: 10px;	
}

.topNavigation {
	clear:both;
	margin-left: 200px;

}
.topNavigation a{
    background-image: url("../images/ts.png");
    display: inline-block;
    font-size: 16px;
    height: 31px;
    text-align: center;
    text-decoration: none;
    width: 124px;
    padding-top:7px;
	margin-right:5px;
	font-family: Trebuchet MS;
}
.topNavigation a:hover, .topNavigation a:active{
	background-color: white;
	color: #000000;
}

.topNavigationCurrent {
	background-color: white;
	font-weight: bold;
	color: #000000;
}
.leftNavigationCurrent {
	background-color: white;
	font-weight: bold;
	color: black;	
	border-right: 2px solid #FFFFFF;
}
.left_menu_icon {
	float:left;
	position:relative;
	margin-right: 5px;
	border:0;
}

.topNavigationLinksA{
	background-color: #FFF;
}
table.extra {
    background-color: #CECECE;
    position: relative;
}

.bgC1 {
    background-color: #F5F5F5;
}
.bgC2 {
    background-color: #FFFFFF;
}
.bgC3 {
	background-color: #EF0E0E;
	color:#FFFFFF;
}

.ErrorWrapper {
    background: none repeat scroll 0 0 #F5FFFA;
    border: 2px solid #CECECE;
    float: left;
    margin: 10px;
    width: 100%;
    text-align: center;
    padding:10px 0 10px 0;
	font-weight: bold;
}

.footeri {
float: left;
width: 100%;
}

.RightFooter {
border-top:1px solid #CECECE;
color: #8C8989;
float: left;
width: 814px;
padding-left:10px;
padding-top:10px;
text-align: center;
font-size:12px;
margin-left:10px;
margin-top:10px;
margin-bottom:20px;
}

.buttoni {
border:1px solid #CECECE;
text-align: right;
height: 28px;
padding-top:5px;
padding-right:5px;
color: #646464;
background:url('images/top-menu-item-bg.gif');
font-weight: bold;
text-decoration: none;
font-size:14px;
}


.destionations {
float: left;
width: 100%;
margin-left:10px;
margin-top:10px;
}

.cities {
float: left;
width: 400px;
margin-left:12px;
margin-top:10px;
}

.name {
    font-family: Trebuchet MS;
    padding: 5px;
	border-bottom:none;
}

.AddNewAgent {
    background: url("images/top-menu-item-bg.gif") repeat scroll 0 0 transparent;
    border: 1px solid #CECECE;
    height: 32px;
    margin-left: 10px;
    margin-top: 10px;
    width: 163px;
    color:#646464;
    font-size: 14px;
    font-weight: bold;
}

.addUSERtxt {
    bottom: 3px;
    position: relative;
    vertical-align: super
}

.box {
			position:absolute;
			top:20%;
			left:30%;
			width:500px;
			background:#ffffff;
			z-index:51;
			padding:10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow:0px 0px 5px #444444;
			-webkit-box-shadow:0px 0px 5px #444444;
		box-shadow:0px 0px 5px #444444;
	display:none;

}
.backdrop
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity: .0;
	filter:alpha(opacity=0);
	z-index:50;
	display:none;
}
.close {
			float:right;
			margin-right:6px;
			cursor:pointer;
}
.lightbox {
text-decoration: none;
}
.formulariNeLightBox {
    background: none repeat scroll 0 0 #F5FFFA;
    border: 2px solid #CECECE;
    float: left;
    margin: 22px 10px 10px;
    padding: 7px;
    position: relative;
    width: 459px;
}

.elementsBox {
position: relative;
display: block;
float: left;
height: 20px;
width: 180px;
padding: 3px;
margin-top:3px;
}
.elementsLabelBox {
position: relative;
display: block;
float: left;
height: 20px;
width: 150px;
padding: 3px;
text-align: right;
margin-top:3px;
}